* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/back.jpg);
  background-size: cover;
}

h1 {
  color: #e1f815b4;
  font-family: 'Amatic SC', cursive;
  font-size: 8.75em;
  margin: 10px;
  padding: 20px;
  text-decoration: underline;
  text-align: center;
}

h1:visited {
  color: #e1f815b4;
}

h1:hover {
  color: #e1f815b4;
}

h2 {
  color: #e1f815b4;
  font-family: 'Amatic SC', cursive;
  font-size: 3.75em;
  line-height: 1.6;
}

h2.subtitular {
  padding: 10px;
  margin: 10px;
  text-decoration: underline;
  text-align: center;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.servi {
  background-color: #9ca16a96;
  line-height: 1.6;
  padding: 15px;
  margin: 25px;
  font-weight: bold;
  border: dotted;
}

.section1 {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  background-color: #9ca16a96;
}

.section2 {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  background-color: #90ee9079;
}

.produc {
  padding: 10px;
  font-size: 5rem;
  color: black;
}

.serv {
  color: #000000;
}

img {
  width: 950px;
  height: 550px;
}

.logo1 {
  height: 120px;
  width: 300px;
}

.carousel-inner, .carousel-indicators {
  margin-left: 50%;
}

.navbar {
  font-family: 'Moon Dance', cursive;
  font-size: 3rem;
  font-weight: bolder;
}

.container {
  margin-left: 30%;
  padding: 10px;
}

.gridCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 1.3fr 1.1fr;
      grid-template-columns: 1.1fr 1.3fr 1.1fr;
  -ms-grid-rows: 1fr 1fr 1fr 0.2fr;
      grid-template-rows: 1fr 1fr 1fr 0.2fr;
  gap: 10px 10px;
  grid-auto-flow: row;
      grid-template-areas: "section1 section1 section1" "img1 . img2" "section2 section2 section2";
}

.section2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section2;
}

.section1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section1;
}

.pieDePagina {
  grid-area: pieDePagina;
}

.img1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img1;
}

.img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img2;
}

@media only screen and (max-width: 576px) {
  .gridCont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.3fr;
        grid-template-columns: 1.3fr;
    -ms-grid-rows: 0.3fr;
        grid-template-rows: 0.3fr;
    gap: 10px 10px;
    grid-auto-flow: row;
        grid-template-areas: "section1" "carousel-inner" "section2";
  }
  .section2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: section2;
  }
  .section1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: section1;
  }
  .carousel-inner, .carousel-indicators {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carousel-inner;
  }
  body {
    max-width: 540px;
  }
  .section1 {
    max-width: 520px;
  }
  .section2 {
    max-width: 520px;
  }
  h1 {
    font-size: 6.75em;
  }
  h2 {
    font-size: 3.50em;
  }
  .container {
    margin-left: 3%;
    padding: 0px;
  }
  .carousel-inner, .carousel-indicators {
    max-width: 520px;
    height: auto;
    margin: 30px;
    padding-right: 10px;
  }
  .lightbox-gallery {
    color: #000;
    overflow-x: hidden;
  }
  .lightbox-gallery p {
    color: #fff;
  }
  .lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #e1f815b4;
  }
}

@media only screen and (max-width: 576px) and (max-width: 767px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .lightbox-gallery .intro p {
    margin-bottom: 0;
  }
  .lightbox-gallery .photos {
    padding-bottom: 20px;
  }
  .lightbox-gallery .item {
    padding-bottom: 30px;
  }
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 2.2rem;
  font-family: 'Moon Dance', cursive;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 5px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 30px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/
.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/
.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */