* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

a:link {
  text-decoration: none;
  color: #e1f815;
  border: 0px;
}

a:active {
  color: #e1f815;
  border: 0px;
}

a:visited {
  color: #e1f815;
  border: 0px;
}

h1 {
  color: #e1f815;
  font-family: 'Dancing Script', cursive;
  font-size: 9.75em;
  font-weight: bolder;
  padding: 20px;
  padding-top: 100px;
  text-align: center;
}

h2 {
  color: #e1f815;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 4.75em;
  line-height: 1.6;
}

h2.subtitular {
  padding: 10px;
  margin: 10px;
  text-decoration: underline;
  text-align: center;
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

h3 {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 3.6em;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
}

.section1 {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  font-size: 1.1rem;
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(0, 0, 0, 0.515844) 100%);
  margin-top: 100px;
}

.section2 {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  font-size: 1.1rem;
  margin-top: 150px;
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(59, 78, 27, 0.515844) 100%);
}

.calidad {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  font-size: 1.1rem;
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(176, 255, 36, 0.515844) 100%);
}

.info {
  line-height: 1.6;
  color: black;
  padding: 15px;
  margin: 25px;
  border: black 2px solid;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  font-size: 1.1rem;
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(176, 255, 36, 0.515844) 100%);
  height: auto;
}

.entrega {
  text-align: center;
  list-style: none;
}

.produc {
  padding: 5px;
  font-size: 5rem;
  color: black;
}

.calid {
  padding: 5px;
  font-size: 5rem;
  font-weight: bolder;
  color: black;
}

.error, .error2 {
  text-align: center;
}

.error3 {
  text-align: center;
  font-size: 2em;
}

.servi {
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(151, 38, 231, 0.644695) 100%);
  line-height: 1.6;
  margin-left: 25%;
  margin-bottom: 3%;
  width: 50%;
  font-weight: bold;
  border: solid;
  border-radius: 10px;
  text-align: center;
}

.servicios {
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(151, 38, 231, 0.644695) 100%);
  border: solid;
  border-radius: 10px;
  border-color: black;
  color: black;
}

.serv {
  color: black;
}

.contac {
  background: #22c1c3;
  background: linear-gradient(163deg, #22c1c3 0%, rgba(238, 27, 141, 0.644695) 100%);
  width: 25%;
  margin: auto;
  border: solid;
  border-color: black;
  border-radius: 10px;
  color: #e1f815;
}

img {
  width: 950px;
  height: 550px;
}

.logo1 {
  height: 120px;
  width: 300px;
}

.carousel-inner, .carousel-indicators {
  margin-left: 50%;
}

.carousel-innerr {
  margin-right: 50%;
}

.navbar {
  font-family: 'Moon Dance', cursive;
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 65px;
  height: 50px;
}

.container {
  margin-left: 30%;
  padding: 10px;
}

/*Galeria*/
.intro {
  width: 700px;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.lightbox-gallery .item {
  padding-bottom: 30px;
}

.item:hover {
  -webkit-transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px #1f1e1e;
}

/*Galeria*/
.gridCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 1.3fr 1.1fr;
      grid-template-columns: 1.1fr 1.3fr 1.1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
      grid-template-areas: "section1 section1 section1" "calidad calidad calidad" "img1 . img2" "section2 section2 section2";
}

.calidad {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: calidad;
}

.section2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section2;
}

.section1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section1;
}

.pieDePagina {
  grid-area: pieDePagina;
}

.img1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img1;
}

.img2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img2;
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 2.2rem;
  font-family: 'Moon Dance', cursive;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 5px;
}

.footer .icons a {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/
.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/
.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 576px) and (min-width: 300px) {
  .gridCont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.0fr;
        grid-template-columns: 1.0fr;
    -ms-grid-rows: 0.3fr;
        grid-template-rows: 0.3fr;
    gap: 10px 10px;
    grid-auto-flow: row;
        grid-template-areas: "section1" "calidad" "carousel-inner" "section2";
  }
  .section2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: section2;
  }
  .section1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: section1;
  }
  .carousel-inner, .carousel-indicators {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: carousel-inner;
  }
  .calidad {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: calidad;
  }
  body {
    max-width: 576px;
    overflow-x: hidden;
  }
  .section1 {
    max-width: 500px;
    height: auto;
  }
  .section2 {
    max-width: 500px;
    height: auto;
  }
  .calidad {
    max-width: 500px;
    height: auto;
  }
  h1 {
    font-size: 7.75em;
  }
  h2 {
    font-size: 4.50em;
  }
  .container {
    margin-left: 3%;
    padding: 0px;
  }
  .container2 {
    margin-left: 25%;
  }
  .carousel-indicators {
    display: none;
  }
  .navbar {
    height: auto;
    padding-bottom: 10px;
  }
  .carousel-inner, .carousel-indicators {
    max-width: 500px;
    height: auto;
    margin: 30px;
    padding-right: 10px;
  }
  .contac {
    max-width: 500px;
    font-size: 30px;
  }
}

@media (max-width: 576px) and (min-width: 300px) and (max-width: 576px) and (min-width: 300px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 44px;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .lightbox-gallery .intro {
    font-size: 26px;
    max-width: 576px;
    margin: 0 auto 40px;
  }
  .lightbox-gallery .intro p {
    margin-bottom: 0;
  }
  .lightbox-gallery .photos {
    padding-bottom: 20px;
  }
  .lightbox-gallery .item {
    padding-bottom: 30px;
  }
  .lightbox-gallery {
    color: #000;
    overflow-x: hidden;
  }
  .lightbox-gallery p {
    color: #fff;
  }
  .lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #e1f815b4;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .footer {
    font-size: 24px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */