* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

a:link{
    text-decoration: none; color: $fc_claro; border: 0px;
} 

a:active{
    color : $fc_claro; border: 0px;
} 

a:visited{
    color :$fc_claro ; border: 0px;
}