h1 {
    color: $fc_claro;
    font-family: 'Dancing Script', cursive;
    font-size: 9.75em;
    font-weight: bolder;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
}

h2 {
    color: $fc_claro;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 4.75em;
    line-height: 1.6;
        &.subtitular {
        padding: 10px;
        margin: 10px;
        text-decoration: underline;
        text-align: center;
        animation: pulse;
        animation-duration: 2s;
    }
}

h3{
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
    font-size: 3.6em;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}