.section1 {
    @include section;
        background: rgb(34,193,195);
        background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(0,0,0,0.5158438375350141) 100%);
    margin-top: 100px;
}

.section2 {
    @include section;
    margin-top: 150px;
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(59,78,27,0.5158438375350141) 100%);
}

.calidad{
    @include section;
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(176,255,36,0.5158438375350141) 100%);
}

.info{
    @include section;
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(176,255,36,0.5158438375350141) 100%);
    height: auto;
}

.entrega{
    text-align: center;
    list-style: none;
}

.produc {
    padding: 5px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.calid{
    padding: 5px;
    font-size: 5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.error, .error2{
    text-align: center;
}

.error3{
    text-align: center;
    font-size: 2em;
}

.servi{
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(151,38,231,0.6446953781512605) 100%);
    line-height: 1.6;
    margin-left: 25%;
    margin-bottom: 3%;
    width: 50%;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    text-align: center;
}

.servicios{
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(151,38,231,0.6446953781512605) 100%);
    border: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.serv{
    color: rgb(0, 0, 0);
}

.contac{
    background: rgb(34,193,195);
    background: linear-gradient(163deg, rgba(34,193,195,1) 0%, rgba(238,27,141,0.6446953781512605) 100%);
    width: 25%;
    margin: auto;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: $fc_claro;
}

img    {
    width: 950px;
    height: 550px;
}

.logo1{
    height: 120px;
    width: 300px;
}

.carousel-inner{
    margin-left: 50%;
}

.carousel-innerr{
    margin-right: 50%;
}

.carousel-indicators{
    @extend .carousel-inner;
}

.navbar {
    font-family:'Moon Dance', cursive;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 65px;
    height: 50px;
}

.container{
    margin-left: 30%;
    padding: 10px;
    
}

/*Galeria*/
.intro{
    width: 700px;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    
}

.lightbox-gallery .item{
    padding-bottom: 30px
}

.item:hover{
    -webkit-transform:scale(1.1);
    -webkit-box-shadow:0px 0px 10px rgb(31, 30, 30);
}

/*Galeria*/

.gridCont {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "section1 section1 section1"
    "calidad calidad calidad"
    "img1 . img2"
    "section2 section2 section2"
}

.calidad { grid-area: calidad;}

.section2 { grid-area: section2; }

.section1 { grid-area: section1; }

.pieDePagina { grid-area: pieDePagina; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }
