
.section1 {
    @include section;
    background-color: #9ca16a96;
}

.section2 {
    @include section;
    background-color: #90ee9079;
}

.produc {
    padding: 10px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.serv {
    color: #000000;
}

img    {
    width: 950px;
    height: 550px;
}

.logo1{
    height: 120px;
    width: 300px;
}

.carousel-inner{
    margin-left: 50%;
}

.carousel-indicators{
    @extend .carousel-inner;
}

.navbar {
    font-family:'Moon Dance', cursive;
    font-size: 3rem;
    font-weight: bolder;
}

.container{
    margin-left: 30%;
    padding: 10px;
    
}

.gridCont {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "section1 section1 section1"
    "img1 . img2"
    "section2 section2 section2"
}

.section2 { grid-area: section2; }

.section1 { grid-area: section1; }

.pieDePagina { grid-area: pieDePagina; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

@media only screen and (max-width: 576px){
    .gridCont {
        display: grid;
        grid-template-columns: 1.3fr;
        grid-template-rows: 0.3fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "section1"
        "carousel-inner"
        "section2";
    }    
    .section2 { grid-area: section2; }

    .section1 { grid-area: section1; }
    
    .carousel-inner { grid-area: carousel-inner; }

    body{
        max-width: 540px;
    }
    .section1{
        max-width: 520px;
    }
    .section2{
        max-width: 520px;
    }
    h1{
        font-size: 6.75em;
    }
    h2{
        font-size: 3.50em;
    }
    .container{
        margin-left: 3%;
        padding: 0px;
    }

    .carousel-inner{
    max-width: 520px;
    height: auto;
    margin: 30px;
    padding-right: 10px;
    }
    .lightbox-gallery {
        color: #000;
        overflow-x: hidden
    }
    
    .lightbox-gallery p {
        color: #fff
    }
    
    .lightbox-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: #e1f815b4;
    }
    
    @media (max-width:767px) {
        .lightbox-gallery h2 {
            margin-bottom: 25px;
            padding-top: 25px;
            font-size: 24px
        }
    }
    
    .lightbox-gallery .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto 40px
    }
    
    .lightbox-gallery .intro p {
        margin-bottom: 0
    }
    
    .lightbox-gallery .photos {
        padding-bottom: 20px
    }
    
    .lightbox-gallery .item {
        padding-bottom: 30px
    }
}