//Mixins
@mixin section {
    line-height: 1.6;
    color: black;
    padding: 15px;
    margin: 25px;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    font-size: 1.1rem;
}


$fc_claro:#e1f815;
@import "body";
@import "header";
@import "main";
@import "footer";
@import "media";
