* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/back.jpg);
    background-size: cover;
}

h1 {
    color: rgba(225, 248, 21, 0.705);
    font-family: 'Amatic SC', cursive;
    font-size: 8.75em;
    margin: 10px;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

h1 :visited{
    color: rgba(225, 248, 21, 0.705);
}

h2 {
    color: rgba(225, 248, 21, 0.705);
    font-family: 'Amatic SC', cursive;
    font-size: 3.75em;
    line-height: 1.6;
}

.section1 {
    background-color: rgba(156, 161, 106, 0.589);
    line-height: 1.6;
    padding: 15px;
    margin: 25px;
    border: double;
}

.section2 {
    background-color: rgba(144, 238, 144, 0.473);
    line-height: 1.6;
    color: black;
    padding: 10px;
    margin: 30px;
    border: black 2px solid;
}

.menu {
    padding: 0;
    margin: 15px auto;
    width: 95%;
    color: darkslategray;
    text-align: right;
    color: black;
}

.menu :hover {
    font-size: 2rem;
    text-decoration: none;
    animation: pulse; 
    animation-duration: 1s;
}

.menu :visited {
    color: rgba(225, 248, 21, 0.705);
}

.menu li {
    display: inline-block;
    font-size: 30px;
}

.subtitular {
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
    text-align: center;
}

.produc {
    padding: 10px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.serv {
    color: rgb(0, 0, 0);
}

.form {
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.galery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 40px;
    width: 90%;
}

img    {
    width: 650px;
    height: 350px;
    border: 2px double rgb(0, 0, 0);
}

img:hover {
    opacity: 1;
    border: solid white 2px;
    transform: scale(1.1);
}
.img1{
    padding: 80px;
}
.img2{
    padding-right: 80px;
    padding-top: 80px;
}

.pieDePagina {
margin: 10px;
padding: 10px;
color: rgb(182, 60, 12);
text-align: left;
}

.pbox{
    font-size: 1.3em;
    font-weight: bolder;
    color: rgba(225, 248, 21, 0.863);
}
.servi{
    background-color: rgba(156, 161, 106, 0.589);
    line-height: 1.6;
    padding: 15px;
    margin: 25px;
    font-weight: bold;
    border: dotted;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    ". form ."
    ". pbox .";
}

.form { grid-area: form; }

.pbox { grid-area: pbox; }

.gridCont {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "section1 section1 section1"
    "img1 . img2"
    "section2 section2 section2"
    "pieDePagina pieDePagina pieDePagina";
}

.section2 { grid-area: section2; }

.section1 { grid-area: section1; }

.pieDePagina { grid-area: pieDePagina; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

@media only screen and (max-width: 576px){
    .gridCont {
        display: grid;
        grid-template-columns: 1.1fr 1.3fr 1.1fr;
        grid-template-rows: 1fr 0.4fr 0.4fr 0.2fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "section1 . . "
        "img1 . ."
        "img2 . ."
        "section2 . ."
        "pieDePagina . . ";
    }    
    .section2 { grid-area: section2; }

    .section1 { grid-area: section1; }
    
    .pieDePagina { grid-area: pieDePagina; }
    
    .img1 { grid-area: img1; }
    
    .img2 { grid-area: img2; }
    
    .img { grid-area: img;}

    body{
        max-width: 540px;
    }
    .section1{
        max-width: 540px;
    }
    .section2{
        max-width: 540px;
    }
    h1{
        font-size: 3.75em;
    }
    h2{
        font-size: 1.50em;
    }
    .menu{
        text-align:center;
    }
    .img1{
        padding: 0px;
        object-fit: contain;
    }
    .galery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 10px;
        width: 90%;
    }
    }