* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/back.jpg);
    background-size: cover;
}

h1 {
    color: rgba(225, 248, 21, 0.705);
    font-family: 'Amatic SC', cursive;
    font-size: 140px;
    margin: 10px;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

h1 :visited{
    color: rgba(225, 248, 21, 0.705);
}

h2 {
    color: rgba(225, 248, 21, 0.705);
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    line-height: 1.6;
}

.section1 {
    background-color: rgba(156, 161, 106, 0.589);
    line-height: 1.6;
    padding: 15px;
    margin: 25px;
    border: double;
}

.section2 {
    background-color: lightgreen;
    line-height: 1.6;
    overflow: auto;
    width: 300px;
    height: 200px;
    color: black;
    padding: 10px;
    margin: 30px;
    border: black 2px solid;
}

.menu {
    padding: 0;
    margin: 15px auto;
    width: 90%;
    color: darkslategray;
    text-align: right;
    color: black;
}

.menu :hover {
    font-size: 2rem;
    text-decoration: none;
    animation: pulse; 
    animation-duration: 1s;
}

.menu :visited {
    color: rgba(225, 248, 21, 0.705);
}

.menu li {
    display: inline-block;
    font-size: 30px;
}

.subtitular {
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
    text-align: center;
}

.produc {
    padding: 10px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.serv {
    color: dodgerblue;
}

.form {
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.galery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 40px;
    width: 90%;
}

img    {
    width: 650px;
    height: 350px;
    border: 2px double rgb(0, 0, 0);
}

img:hover {
    opacity: 1;
    border: solid white 2px;
}

.pieDePagina {
margin: 10px;
padding: 10px;
color: chocolate;
}

.gridCont {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
}

.h1 { grid-area: 1 / 1 / 2 / 2; }

.h2 { grid-area: 1 / 2 / 2 / 3; }

.img { grid-area: 2 / 1 / 3 / 2; }

.section1 { grid-area: 2 / 2 / 3 / 4; }

.section2 { grid-area: 3 / 1 / 4 / 2; }

.pieDePagina { grid-area: 4 / 1 / 5 / 4; }

.logo { grid-area: 1 / 1 / 2 / 2; }
